.App {
    height: 100%;
    width: 100%;
}

.child {
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
    position: absolute;
}

.functionBarAndLinkmanList {
    width: 300px;
    background-color: rgba(6, 147, 227, 0.65);
}

.chat {
    flex: 1;
    background-color: rgba(247, 247, 247, 0.8);
    border-radius: 0 8px 8px 0;
}

.loginTips {
    width: 80%;
    height: 90%;
    background-color: rgba(255, 255, 255);
    display: flex;
    position: absolute;
    justify-content: center;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-repeat: 'no-repeat';
    background-size: 100%;
    font-size: 20px;
    font-weight: 800;
    padding-top: 100px;
}

.loginBton {
  color: rgba(6, 147, 227, 1.05);
  cursor: pointer;
}


.deleteGroupConfirmDialog {
    width: 250px;
    :global {
        .rc-dialog-body {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.deleteGroupConfirmButton {
    width: 60px;
    height: 36px;
    margin-left: 12px;
}
